@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');

.banner-bg {
    width: 100%;
}

.me-auto.navbar-nav.basic-nav {
    width: 100%;
    align-items: center;
}

.me-auto.navbar-nav.basic-nav > a {
    width: 100%;
    text-align: center;
}

.me-auto.navbar-nav.basic-nav > a:last-child > button {
    background: #273755;
    border-radius: 50px;
    padding: 5px;
    width: 100%;
}

.section-title {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 25px;
    margin-top: 65px;
}

.introduction {
    background: #273755;
    font-family: 'rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10%;
    margin-top: 40px;
}

.introduction p {
    margin-bottom: 50px;
}

.introduction button {
    width: 165px;
    height: 44px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: transparent;
}

.divider {
    width: 193px;
    height: 10px;
    margin: 0 auto;
    margin-top: 40px;
    background: #273755;
}

.divider-lg{
    height: 123px;
    background: #273755; 
}

.apply-btn.btn-primary {
    width: 165px;
    height: 44px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
}

.apply-btn.btn-primary:hover, .apply-btn.btn-primary:active {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

@media only screen and (min-width: 900px) {
    .banner-bg {
        margin-top: -114px;
    }

    .me-auto.navbar-nav.basic-nav > a {
        width: 25%;
        font-weight: bold;
    }

    .introduction {
        height: 295px;
        padding: 0 10%;
    }
}

.modal-body{
    text-align: justify;
}

.modal-footer > .btn-primary {
    background: #273755;
}

.modal-title{
    color: white;
}

.modal-header{
    background: #273755;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 400px !important;
        margin: 1.75rem auto;
    }
}




